span{
    margin:20px;
}
li{
    border:solid 2px rgb(225, 225, 225);
    background-color: rgb(254, 254, 254);
    border-radius: 5px;
    padding:10px;
    margin:10px;
}
ul{
    list-style: none;
    padding-left: 0;
}